In [1]:
# import dependencies
import pandas as pd
import numpy as np
from datetime import date

In [2]:
# read in clean version of hawaii stations
clean_HS = pd.read_csv("clean_hawaii_stations.csv")

In [3]:
# read in clean version of hawaii measurements
clean_HM = pd.read_csv("clean_hawaii_measurements.csv")

In [4]:
clean_HS.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
# rename unnamed column to id
clean_HS_columns = ['id','station','name','latitude','longitude','elevation']
clean_HS.columns = clean_HS_columns
clean_HS2 = clean_HS.set_index('id')

In [6]:
clean_HM.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           4  USC00519397  2010-01-06  0.00    73

In [7]:
# rename unnamed column to id
clean_HM_columns = ['id','station','date','prcp','tobs']
clean_HM.columns = clean_HM_columns
clean_HM2 = clean_HM.set_index('id')

In [8]:
# Import sqlalchemy Dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func
from sqlalchemy import Column, Float, Integer, String, Date
from sqlalchemy.ext.declarative import declarative_base

In [9]:
# Create an engine for the hawaii.sqlite database
engine = create_engine("sqlite:///hawaii.sqlite")

In [10]:
# Reflect Database into ORM classes
Base = declarative_base()

In [11]:
# Create ORM class for Stations
class Station(Base):
    __tablename__ = "Hawaii_Stations"
    
    id = Column(Integer, primary_key = True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [12]:
# Create ORM class for Stations
class Measurement(Base):
    __tablename__ = "Hawaii_Measurements"
    
    id = Column(Integer, primary_key = True)
    station = Column(String)
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)

In [13]:
# create tables
Base.metadata.create_all(engine)

In [14]:
# import csv to sqlite
clean_HS2.to_sql(con=engine, index_label='id', name=Station.__tablename__, if_exists='append')

In [15]:
# import csv to sqlite
clean_HM2.to_sql(con=engine, index_label='id', name=Measurement.__tablename__, if_exists='append')